GameApiTest
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color:white;
	font-size:8em;
	pointer-events:all;

	>.body
	{
	    flex-direction:column;
        padding: 2rem;
        flex-grow:1;
        overflow: scroll;
	}

	.fadeNow
	{
        transition: .8s;
        opacity: .2;
	}
}