StartMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//background-color: #000000;
	//justify-content: center;
	//align-items: center;
	//font-weight: bold;
	/* border-radius: 20px; */
	color: #ffffff;
	pointer-events: all;
	flex-direction: column;
	font-family: Poppins;

	&.resumed
	{
	    opacity: 0;
		/* transition-duration: .5s; */
	    //display:none;
	}

	.hidden
	{
	    display:none;
	}

	.title
	{
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}

	a
	{
	    background-color:rgba(navy,0.8);
		border-radius:10px;
	    &:hover
		{
		    background-color:rgba(blue,0.8);
		    sound-in:ui.button.over;
		}
		&:active
		{
            background-color: rgba(darkblue,0.8);
		    sound-in:ui.popup.message.close;
		}
	}

	.exitButton
	{

        background-color: rgba(darkred,0.8);

        &:hover
        {
            /* space selector is considered too! */
            /* https://www.w3schools.com/cssref/sel_nesting.php */
            background-color: orangered;
        }
        &:active
        {
            background-color: red;
        }
	}

	.resumeButton
	{

        background-color: rgba(darkgreen,0.8);

        &:hover
        {
            /* space selector is considered too! */
            /* https://www.w3schools.com/cssref/sel_nesting.php */
            background-color: lightgreen;
        }
        &:active
        {
            background-color: lime;
        }
	}

	> .topBar
	{
	    //font-size: 25px;
		background-color:rgba(black,0.5);
		height: 8%;
		gap: 1rem;
		padding: 12px;
		//flex-grow: 1;

		a
		{
		    font-size: 8em;
		}

		.topTitle
		{
            font-size: 7em;
            font-weight: bolder;
		}

		> .topLeft
		{
		    gap: 1rem;
		}

		> .topCenter
		{
            flex-grow: 1;
            gap: 1rem;
		}

		> .topRight
		{
		    //justify-content: right;
			gap: 1rem;
		}
	}

	>.body
	{
	    font-size: 25px;
		flex-direction: column;
		>.manualSceneList
		{
		    flex-direction: column;
		}
		>.sceneList
		{
		    // Yoink Facepunch's style!
			// https://github.com/Facepunch/sbox-scenestaging/blob/main/Code/SceneMenu/SceneMenuPanel.razor.scss
			flex-wrap: wrap;
			gap: 1rem;
			padding: 2rem;
			//background-color: #0006;
			flex-grow: 1;
			border-radius: 8px;
			overflow: scroll;


		    > a
			{
                /* background-color: gray;
                border-radius: 10px; */

                &:hover
                {
                    /* space selector is considered too! */
                    /* https://www.w3schools.com/cssref/sel_nesting.php */
                    /* background-color: lightgray; */
                }
                &:active
                {
                    /* background-color: darkgray; */
                    sound-in: ui.popup.message.open;
                }
			}
		}
	}
}